<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.1.xsd">
    <!-- 设置定时任务 -->
    <!--<task:annotation-driven/>-->
    <!-- Spring注解方式配置调度任务 -->
    <task:executor id="executor" pool-size="3"/>
    <task:scheduler id="scheduler" pool-size="3"/>
    <task:annotation-driven executor="executor" scheduler="scheduler"/>
    <!-- 配置处理器映射器 适配器 -->
    <mvc:annotation-driven/>
    <!-- enable autowire 向容器自动注册 -->
    <context:annotation-config/>
    <!-- 对静态资源文件的访问 -->
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <!-- 配置扫描 器 -->
    <context:component-scan base-package="com.yutons.shiro.web;com.yutons.shiro.task"/>
    <!-- 配置视图解释器 jsp -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 配置swagger-ui.html -->
    <bean
            class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**"
                   location="classpath:/META-INF/resources/webjars/"/>
</beans>